//main: main.scss
 .Contact {
  padding-top:13em;
  h2 {
    text-align: center;
    font-size: 5em;
    font-family: 'Bedfort';
    line-height: 56px;
    font-weight: 100;
  }
  form {
    padding-left: 13em;
    padding-right: 13em;
    margin-bottom: 2em;
    textarea {
      resize: none;
      border: 2px solid #C75050;
      box-sizing: border-box;
      width: 100%;
      border-radius: 10px;
      height: 250px;
      margin-top: 4em;
    }
    input{
      border: 2px solid #C75050;
      border-radius: 10px;
      box-sizing: border-box;
      width: 50%;
      height: 80px;
    }
    button {
      padding: 1vh 16vw;
      background-color: #C75050;
      font-size: 5em;
      font-family: 'Emilys';
      color: white;
      display: flex;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-top: 1em;
    }
  }
  .Parallax {
    margin-top: 6em;
  }
}
@media all and(max-width:900px) {
  .Contact {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
