//main: main.scss

.erreur{
  margin-top: 15em;
  >p{
    font-size: 20em;
    text-align: center;
    text-align: justify;
    font-family: 'emilys';
    -webkit-text-stroke: 2px $C1;
    text-shadow:  0.05em 0.1em 0.1em $C1;
  }
}
