// main: main.scss
@font-face {
  font-family: 'Bedfort';
  src: url('../fonts/Mr_Bedfort/MrBedfort-Regular.ttf');
}
@font-face {
  font-family: 'Emilys';
  src: url('../fonts/Emilys_Candy/EmilysCandy-Regular.ttf');
}
@font-face {
  font-family: 'Bonbon';
  src: url('../fonts/Bonbon/Bonbon-Regular.ttf');
}
@font-face {
  font-family: 'OS';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
